* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #region common */
body {
    height: 100vh;
    width: 100%;
}
main {
    height: calc(100% - 88px);
    display: flex
}
/* #region debug  */
.debug main {
    border: dashed 1px;
    background-color: chartreuse;
}
.debug footer {
   border: dashed 1px;
   background-color: blueviolet; 
}
/* #region utility */

.sidebar {
    width: 245px;
    border: dashed;
    height: 100%;
    background-color: darkblue;
}
.content {
    border: dashed 1px;
    height: 100%;
    width: calc(100% - 245px);
    background-color: darkred;
}
.bottom {
    height: 88px;
}